.wrapper{
    display: grid;
    grid-template-columns: 400px 1fr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin:0;
    opacity: 1;
    /* user-select:auto;
    background-color: var(--lightblue-a);
    background-image: linear-gradient(135deg, var(--lightgreen-b) 25%, transparent 25%),
    linear-gradient(225deg, var(--lightgreen-b) 25%, transparent 25%),
    linear-gradient(45deg, var(--lightgreen-b) 25%, transparent 25%),
    linear-gradient(315deg, var(--lightgreen-b) 25%, var(--lightblue-a) 25%);
    background-position: 40px 0, 40px 0, 0 0, 0 0;
    background-size: 40px 40px;
    background-repeat: repeat; */

    /* background-color: #b9cecd;
    opacity: 1;
    background: linear-gradient(135deg, var(--lightgreen-a)55 25%, transparent 25%) -25px 0/ 50px 50px,
     linear-gradient(225deg, var(--lightgreen-a) 25%, transparent 25%) -25px 0/ 50px 50px,
      linear-gradient(315deg, var(--lightgreen-a)55 25%, transparent 25%) 0px 0/ 50px 50px,
       linear-gradient(45deg, var(--lightgreen-a) 25%, #b9cecd 25%) 0px 0/ 50px 50px; */

    background:
    conic-gradient(at 10% 50%,#0000 75%,var(--darkblue-a) 0),
    conic-gradient(at 10% 50%,#0000 75%,var(--darkblue-a) 0) calc(1*32px) calc(3*32px),
    conic-gradient(at 10% 50%,#0000 75%,var(--darkblue-a) 0) calc(2*32px) calc(1*32px),
    conic-gradient(at 10% 50%,#0000 75%,var(--darkblue-a) 0) calc(3*32px) calc(4*32px),
    conic-gradient(at 10% 50%,#0000 75%,var(--darkblue-a) 0) calc(4*32px) calc(2*32px),
    conic-gradient(at 50% 10%,#0000 75%,var(--darkblue-a) 0) 0 calc(4*32px),
    conic-gradient(at 50% 10%,#0000 75%,var(--darkblue-a) 0) calc(1*32px) calc(2*32px),
    conic-gradient(at 50% 10%,#0000 75%,var(--darkblue-a) 0) calc(2*32px) 0,
    conic-gradient(at 50% 10%,#0000 75%,var(--darkblue-a) 0) calc(3*32px) calc(3*32px),
    conic-gradient(at 50% 10%,#0000 75%,var(--darkblue-a) 0) calc(4*32px) calc(1*32px),
    var(--darkblue-b);
 background-size: 160px 160px;



    background-attachment: fixed;
    animation: backgroundMovement 5s linear infinite;

    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.side-bar{
    display: flex;
    flex-flow: column nowrap;
    width: 400px;
    height:100vh;
    padding: 1px;
    background-color: var(--white);
    box-sizing:border-box;
    padding: 40px;
}

.links-bar{
    width:80%;
    flex-flow: row wrap;
    justify-content: space-between;
    border-top: 5px solid var(--lightblue-a);
    border-bottom: 5px solid var(--lightblue-a);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.content{
    display: flex;
    width: auto;
    flex-flow: row wrap;
    justify-content: space-between;
    gap:5%;
    padding:5%;
    grid-column: 2 / span 1;
}

.project-box{
    background-color: var(--white);
    box-sizing:border-box;
    width: 100%;
    padding: 40px;
    border-radius: 25px;
}

.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    gap: 30px;
    margin-top: 40px;
}

.project-card {
  height: 200px;
  width: 300px;
  background-color: #3760C9;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;

  margin: 1rem auto;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.project-card:hover .card-inner{
  transform: rotateY(180deg);
}

.envelope-front,
.envelope-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.envelope-back{
    transform: rotateY(180deg);
}

.lid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-right: 150px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: transform 0.25s linear;
}

/* Lid when closed */
.lid.one {
  border-top: 100px solid #658ced;
  transform: rotateX(0deg);
  z-index: 3;
  transition-delay: 0.75s;
}

/* Lid when opened */
.lid.two {
  border-top: 100px solid #3760C9;
  transform: rotateX(90deg);
  z-index: 1;
  transition-delay: 0.5s;
}

.envelope {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 100px solid transparent;
  border-right: 150px solid #C4DFF0;
  border-bottom: 100px solid #C4DFF0;
  border-left: 150px solid #a4d4f2;
  z-index: 3;
}

.letter {
  position: absolute;
  top: 0;
  width: 80%;
  height: 80%;
  z-index: 2;
  transition: 0.5s;
}

.project-card:hover .lid.one {
    transform: rotateX(90deg);
    transition-delay: 0s;
}

.project-card:hover .lid.two {
    transform: rotateX(180deg);
    transition-delay: 0.25s;
}

.project-card:hover .letter {
  transform: translateY(-50px);
  transition-delay: 0.5s;
}

:root {
    --white: #ffffff;
    --lightgreen-a: #94d5a0;
    --lightgreen-b: #7db387;
    
    --darkblue-a: #1c5960;
    --darkblue-b: #257079;
}