.wrapper{
    display: grid;
    grid-template-columns: 400px 1fr;
}

body{
    margin:0;
    opacity: 1;
    /* user-select:auto;
    background-color: var(--lightblue-a);
    background-image: linear-gradient(135deg, var(--lightgreen-b) 25%, transparent 25%),
    linear-gradient(225deg, var(--lightgreen-b) 25%, transparent 25%),
    linear-gradient(45deg, var(--lightgreen-b) 25%, transparent 25%),
    linear-gradient(315deg, var(--lightgreen-b) 25%, var(--lightblue-a) 25%);
    background-position: 40px 0, 40px 0, 0 0, 0 0;
    background-size: 40px 40px;
    background-repeat: repeat; */

    /* background-color: #b9cecd;
    opacity: 1;
    background: linear-gradient(135deg, var(--lightgreen-a)55 25%, transparent 25%) -25px 0/ 50px 50px,
     linear-gradient(225deg, var(--lightgreen-a) 25%, transparent 25%) -25px 0/ 50px 50px,
      linear-gradient(315deg, var(--lightgreen-a)55 25%, transparent 25%) 0px 0/ 50px 50px,
       linear-gradient(45deg, var(--lightgreen-a) 25%, #b9cecd 25%) 0px 0/ 50px 50px; */

    background:
    conic-gradient(at 10% 50%,#0000 75%,var(--lightgreen-b) 0),
    conic-gradient(at 10% 50%,#0000 75%,var(--lightgreen-b) 0) calc(1*32px) calc(3*32px),
    conic-gradient(at 10% 50%,#0000 75%,var(--lightgreen-b) 0) calc(2*32px) calc(1*32px),
    conic-gradient(at 10% 50%,#0000 75%,var(--lightgreen-b) 0) calc(3*32px) calc(4*32px),
    conic-gradient(at 10% 50%,#0000 75%,var(--lightgreen-b) 0) calc(4*32px) calc(2*32px),
    conic-gradient(at 50% 10%,#0000 75%,var(--lightgreen-b) 0) 0 calc(4*32px),
    conic-gradient(at 50% 10%,#0000 75%,var(--lightgreen-b) 0) calc(1*32px) calc(2*32px),
    conic-gradient(at 50% 10%,#0000 75%,var(--lightgreen-b) 0) calc(2*32px) 0,
    conic-gradient(at 50% 10%,#0000 75%,var(--lightgreen-b) 0) calc(3*32px) calc(3*32px),
    conic-gradient(at 50% 10%,#0000 75%,var(--lightgreen-b) 0) calc(4*32px) calc(1*32px),
    var(--lightgreen-a);
 background-size: 160px 160px;



    background-attachment: fixed;
    animation: backgroundMovement 5s linear infinite;

    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.side-bar{
    display: flex;
    flex-flow: column nowrap;
    width: 400px;
    height:100vh;
    padding: 1px;
    background-color: var(--white);
    box-sizing:border-box;
    padding: 40px;
}

.links-bar{
    width:80%;
    flex-flow: row wrap;
    justify-content: space-between;
    border-top: 5px solid var(--lightblue-a);
    border-bottom: 5px solid var(--lightblue-a);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.content{
    display: flex;
    width: auto;
    flex-flow: row wrap;
    justify-content: space-between;
    gap:5%;
    padding:5%;
    grid-column: 2 / span 1;
}

.project-box{
    background-color: var(--white);
    box-sizing:border-box;
    width: 100%;
    padding: 40px;
    border-radius: 25px;
}

.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    gap: 30px;
    margin-top: 40px;
}

.card-project{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 400px;
    height: auto;
    background-color: var(--white);
    padding: 0px 10px 15px 10px;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: var(--lightgreen-a);
    text-align: left;
    border: 5px solid var(--lightgreen-a);
    /* Stuff about transform */
}

.card-image{
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 1;
    border-radius: 10% 10% 2% 2%;
    overflow: clip;
    border: 10px solid var(--white);
    border-image: url(/media/frameTest.png) 100 stretch;
}

.card-image>img{
    overflow: clip;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-bottom{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 5px;
    padding-top: 15px;
}

:root {
    --white: #ffffff;
    --lightgreen-a: #94d5a0;
    --lightgreen-b: #7db387;
    --darkblue-a: #0D5B68;
    --darkblue-b: #0B4A51;
}